body {
  background: #5465ff;
}

a {
  color: #0c1330;
  font-weight: bold;
  text-decoration: none;
}

.App {
  max-width: 800px;
  margin: 15px auto;
  color: #fffdf6;
}

.App-header {
  margin: 0 auto;
  padding: -5px;
  text-align: center;
  font-size: 55px;
  letter-spacing: px;
  border-radius: 10px;
}

.App-footer {
  text-align: center;
  letter-spacing: 0.2px;
  font-size: 13px;
  margin: -5px auto;
  border-radius: 10px;
  width: 50%;
  padding: 5px;
}
