.Meaning h3 {
  font-size: 32px;
  font-weight: bold;
}

.Meaning .definition {
  font-size: 19px;
  margin-left: 30px;
}

.Meaning .example {
  color: #70757a;
  font-style: italic;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 14px;
}
