.Meaning h3 {
  font-size: 32px;
  font-weight: bold;
}

.Meaning .definition {
  font-size: 16px;
  color: #d8e6f3;
}

.Meaning .example {
  color: #a2a5a8;
  font-style: italic;
  margin-top: 10px;
  font-size: 14px;
}
